<header role="banner">
    <h3 style="margin-top:0;">
        <a href="{{ site.baseurl }}/" title="Home">
            {{ site.title }} <a id="e1"></a>
        </a>
        <!-- ["🥴", "😵", "🤯", "🥳", "😎", "🤓", "😀", "🤪", "🤔", "🤗", "😏", "😴", "😷", "🥱", "👽"] -->
        <script>
            const emoji_list = ["🍃", "🍂"];
            document.getElementById("e1").innerHTML = emoji_list[Math.floor(Math.random() * emoji_list.length)];
        </script>
        <b style="float: right;">
            <nav style="font:16px/1.5 monaco,Consolas,Lucida Console,monospace;" role="navigation">
                <button onclick="document.documentElement.classList.toggle('dark-mode')" class='btn'>⚪</button>
                <span>&middot;</span>
                <a href="/about">About</a>
                <span>&middot;</span>
                <a href="/atom.xml">RSS</a>
                <span>&middot;</span>
                <a href="https://github.com/pelgo14/pelgo14.github.io">Source on Github</a>
            </nav>
        </b>

        <br><small>{{ site.tagline }}</small>
    </h3>
</header>
<hr>
